/* Stelle sicher, dass die Map sichtbar ist */
html, body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100vh; /* volle Bildschirmhöhe */
  width: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-container {
  padding: 1rem;
}

#map {
  flex: 1;
}

